body {
  font-size: 15pt;
  background-color: #FFAB65;
  font-family: sans-serif;
}
.remorseful {
  background-color: #880000;
}
.hidden {
  display:none;
}
#title {
  position: absolute;
  top: 0%;
  left: 35%;
  margin:0;
  padding:0;
}
#points {
  position: absolute;
  top: 15%;
}
#clickanium {
  position: absolute;
  top: 20%;
}
#upgrades-switch {
  position: absolute;
  top: 50%;
}
#converter-switch {
  position: absolute;
  top: 50%;
  left: 22.5%;
}
#button {
  position: absolute;
  width: 20vh;
  height: 10vh;
  top:34%;
  left:35%;
}
.blue-button {
  border: 2px outset #434A9D;
  border-radius: 3%;
  background-color: #6A77FF;
}
.titanium-button {
  border: 2px outset #23264D;
  border-radius: 3%;
  background-color: #000A7D;
}
.remorse-button {
  border: 2px outset #FF7878;
  border-radius: 3%;
  background-color: #FF3F3F;
}
.ultra-button {
  border: 2px outset black;
  border-radius: 3%;
  background-image: linear-gradient(to right,#FF0000,#FF7A7A,#7D7AFF,#0600FF);
}
.upgrades-hidden {
  display: none;
  position:absolute;
}
.upgrades-shown {
  position: absolute;
}
#upgrades {
  position:absolute;
  top: 60%;
  left: 6%;
  width: 360px;
  background-image: linear-gradient(#FF8151,#FF5C1F);
  border:2px solid black;
}
#converter {
  position:absolute;
  top: 60%;
  left: 6%;
  width: 360px;
  background-image: linear-gradient(#A1A1A1,#CFCFCF);
  border:2px solid black;
}

.converter-hidden {
  display:none;
}
.converter-shown {
  position: absolute;
}

.warn {
  color:red;
}
.yellow {
  color:yellow;
}
#notes {
  position: absolute;
  top: 32.5%;
  width: 100pt;
  height: 50pt;
  font-size: 9pt;
}

.i {
  animation: shake .3s;
  animation-iteration-count: infinite
}

@keyframes shake {
  25% { transform: translateX(7px) }
  50% { transform: translateX(-7px) }
  75% { transform: translateY(7px) }
  100% { transform: translateY(-7px) }
}
